.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Tab-list{
  position: relative;
  height: 100px;
  width: 200px;
  background-color: #999;
  float: left;
  margin-left: 10px;
  list-style: none;
}
.Tab-content{
  position: relative;
  clear: both;
  width: 830px;
  height: 400px;
  top: 10px;
  margin : 30px 10px;
  border : 1px solid #999;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
